em,
i {
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

head,
footer {
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
    -ms-overflow-style: scrollbar;
}

a {
    cursor: pointer;
    text-decoration: blink;
}

button {
    border: 0;
}