.el-menu-item,
/deep/ .el-submenu /deep/ .el-submenu__title {
    height: 32px;
    line-height: 32px !important;
    font-size: 12px;
    padding: 0 10px;
}

/deep/ .el-submenu__title {
    height: 32px;
    line-height: 32px !important;
    font-size: 12px;
}

.el-menu-item {
    font-size: 12px;
}

/deep/.el-submenu__title i {
    margin-bottom: -5px;
    color: #fff;
}