.el-menu-item,
/deep/ .el-submenu /deep/ .el-submenu__title {
    height: inherit !important;
    line-height: inherit !important;
    font-size: 12px;
    padding: 0 10px;
}

/deep/ .el-submenu__title {
    height: inherit !important;
    line-height: inherit !important;
    font-size: 12px;
}

.el-menu-item {
    font-size: 12px;
}

.el-menu-item i {
    color: inherit;
}

/deep/.el-submenu__title i {
    margin-bottom: -5px;
    color: inherit;
}